
<div class="bp-comment">
  <div class="comment-avatar"><i class="fa fa-user"></i></div>
  <div class="comment-info">
    <h6 class="comment-name"><%= comment.name %></h6>
    <span class="comment-time">on <%= time_ago_in_words(comment.created_at) %></span>
    <button class="comment-replay-btn"><i class="fa fa-mail-reply-all"></i> <%= link_to 'Delete', [comment.blog, comment],method: :delete, class: "btn btn-xs btn-default", data: { confirm: 'Are you sure?' }  %></button>
  </div>
  <p class="comment-content">  <%= comment.body %></p>
</div>







        	
