<%= simple_form_for ([@blog, @blog.comments.build(params[:blog_id])]) do |f|  %>
	<div class="controls">
		 <%= f.input :name %>

   <div class="controls">
     <%= f.input :body, placeholder: "Please type your comments", :rows => 16, :cols => 16 %>
   </div>

<div class="controls">
  <%= f.submit :submit, class: "btn btn-border " %>
</div>
          <% end %>
