<%= simple_form_for ( [@blog, @blog.comments.build] ), :html => {:class => "form-horizontal center"} do |f|  %>
	<div class="controls">
		 <%= f.input :name %><span><i class="glyphicon glyphicon-user"></i></span>
   </div>

   <div class="controls">
     <%= f.input :body, placeholder: "Please type your comments", :as => :ckeditor, :input_html=> {:ckeditor => {:toolbar => "Full"}}, :rows => 16, :cols => 16 %><span><i class="glyphicon glyphicon-comment"></i></span>
   </div>

<div class="controls">
  <%= f.submit :submit, class: "btn btn-large pull-right" %>
</div>
          <% end %>
