
<div class="content">
							<h4>Bridging The Digital Divide</h4>
							<hr>
							<div class="header-text btn">
									<h1><span id="head-title"></span></h1>
							</div>
					</div>

					<a href="#meet-us" class="down-btn page-scroll">
							<span class="fa fa-angle-down"></span>
					</a>
			</div>
	</div>

	<!-- Meet Us Section -->
	<div id="meet-us">
			<div class="container">
					<div class="row text-center">
							<div class="col-md-8 col-md-offset-2">
									<div class="section-title">
											<h2>Meet Us</h2>
											<hr>
									</div>
									<p>Best Solution For Your Digital Succes. We can create your imaginations </p>
									<a href="#services" class="down-btn page-scroll">
											<span class="fa fa-angle-down"></span>
									</a>
							</div>
					</div>
			</div>
	</div>

	<!-- Overview Video Section -->
	<div id="overview-video">
			<div class="overlay">
					<div class="container">

									<div class="video-container">

									</div>

					</div>
			</div>
	</div>

	<!-- Services Section -->
	<div id="services">
			<div class="container text-center">
					<div class="row">
							<div class="col-md-8 col-md-offset-2">
									<div class="section-title">
											<h2>Services</h2>
											<hr>
									</div>
											<p> Take A Look At Our Quality Services To Serve You Better.</p>
							</div>
					</div>

					<div class="space"></div>

					<div class="row">
							<div class="col-md-4 col-sm-4">
									<div class="service">
											<span class="fa fa-book fa-3x"></span>
											<h4>Branding</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis. </p>
									</div>
							</div>

							<div class="col-md-4 col-sm-4">
									<div class="service">
											<span class="fa fa-bicycle fa-3x"></span>
											<h4>Web Devepment</h4>
											<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Accusamus et. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis </p>
									</div>
							</div>

							<div class="col-md-4 col-sm-4">
									<div class="service">
											<span class="fa fa-plug fa-3x"></span>
											<h4>App Design</h4>
											<p>Nulla vitae elit libero, a pharetra augue. At vero eos et accusamus et iusto odio dignissimos ducimus. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
									</div>
							</div>
					</div>
					<a href="#works" class="down-btn page-scroll">
							<span class="fa fa-angle-down"></span>
					</a>
			</div>
	</div>

	<!-- Call-to-Action Section -->
	<div id="cta">
			<div class="container text-center">
					<a href="#" class="btn go-to-btn">Check our Projects</a>
			</div>
	</div>

	<section id="feature">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<div class="title-area">
						<h2 class="section-title text-center ">Features</h2>
						<span class="line"></span>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="feature-content">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="single-feature wow zoomIn">
									<i class="fa fa-leaf feature-icon"></i>
									<h4 class="feat-title">Creative Design</h4>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="single-feature wow zoomIn">
									<i class="fa fa-mobile feature-icon"></i>
									<h4 class="feat-title">Responsive Layouts</h4>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="single-feature wow zoomIn">
									<i class="fa fa-thumbs-o-up feature-icon"></i>
									<h4 class="feat-title">Great Features</h4>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="single-feature wow zoomIn">
									<i class="fa fa-gears feature-icon"></i>
									<h4 class="feat-title">Multiple Options</h4>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="single-feature wow zoomIn">
									<i class="fa fa-code feature-icon"></i>
									<h4 class="feat-title">Quality Code</h4>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="single-feature wow zoomIn">
									<i class="fa fa-smile-o feature-icon"></i>
									<h4 class="feat-title">Awesome Support</h4>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Feature -->




















		<!-- End Intro Section -->





								<div class="content">
									<h4>Responsive Layout</h4>
									<p>We integrate and produce great responsivness and smooth layouting for our websites.</p>
								</div>
							</div>
							<br>
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-cog"></i>
								</span>
								<div class="content">
									<h4>Clean Code</h4>
									<p> Our  Web apps and Ui's ar well documented and launched on github, we have  clean and easy to re use codes which  you can always refrence are github-bd projects by visting our github pages @kizzonia.</p>
								</div>
							</div>
							<br>
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-random"></i>
								</span>
								<div class="content">
									<h4>Cross Browser</h4>
									<p>Our high levels of funtionality make our websites nad web applications universally compatable with most browsers</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 wow fadeInUp" data-wow-offset="10"  data-wow-delay="0.3s">
						<div class="showcase-box">
					
						</div>
					</div>
					<div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-delay="0.5s">
						<div class="content-right">
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-umbrella"></i>
								</span>
								<div class="content">
									<h4>Premium Features</h4>
									<p>We also offer free plugins and paid plugins which you can always checkout and request from.</p>
								</div>
							</div>
							<br>
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-heart"></i>
								</span>
								<div class="content">
									<h4>Modern Design</h4>
									<p>Our Ui/UX designs are always up-to-date with the latest and clean features .</p>
								</div>
							</div>
							<br>
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-comments"></i>
								</span>
								<div class="content">
									<h4>24/7 Live Chat Support</h4>
									<p> We Are Here To Serve You,Connect With Us.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- End Why chose us Section  -->
		<!-- End About Us Section -->

		<!-- Start Contact Section -
		<section id="contact">
			<div class="overlay">
				<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Contact</span> Us</h1>
					<div class="row">
						<div class="contact-form">
              <section id="connected1">
                <div class="text-center">
              <div class="contact-item">
								<a href="#"><i class="fa fa-phone"></i></a>
								<h5>Support Team</h5>
                <p class="text-center"> <%= link_to "We Are Here To Assist You", new_contact_path, class: "btn btn-border" %></p>

							</div>
          </div>
          </section>
					</div>
				</div>
			</div>
		</section>
		-- End Contact Section -->
