

	

		<!-- Start Contact Section -
		<section id="contact">
			<div class="overlay">
				<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Contact</span> Us</h1>
					<div class="row">
						<div class="contact-form">
              <section id="connected1">
                <div class="text-center">
              <div class="contact-item">
								<a href="#"><i class="fa fa-phone"></i></a>
								<h5>Support Team</h5>
                <p class="text-center"> <%= link_to "We Are Here To Assist You", new_contact_path, class: "btn btn-border" %></p>

							</div>
          </div>
          </section>
					</div>
				</div>
			</div>
		</section>
		-- End Contact Section -->
