<div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
    </div>
  </div>
  <h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>New</span> Project</h1>

<%= render 'form' %>

<%= link_to 'Back', projects_path %>
