<header class="page-title pt-large pt-light pt-parallax pt-plax-lg-light" data-stellar-background-ratio="0.4">
  <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <h1>Portfolio</h1>
          <span class="subheading">Some of our work</span>
        </div>
        <ol class="col-sm-6 text-right breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Elements</a></li>
          <li class="active">Portfolio</li>
        </ol>

      </div>
    </div>
</header>

<%= render 'form' %>

<%= link_to 'Back', projects_path, class: "btn btn-ghost-light" %>
