/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap
 *= require font-awesome
 *= require owl.theme
 *= require general
 *= require owl.carousels
 *= require_self
 */

 @import "animate";
 @import "bootstrap";
@import "responsive";
@import "font-awesome";
@import "custom";
@@import "general";
@import "style";

@import "normalize";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Play:700');
#hero-text {
  padding: 70px 0;
  background-color: #1E8CE5;
  border-bottom:2px solid #EAEAEA;
  color: #fff;
}
#hero-text h2 {
  margin-top: 0;
  color: #FFFFFF;
}
#hero-text .btn {
  margin-top: 40px;
  background-color: #FFFFFF;
  color: #000;
}
#cta2 {
  background: #45b1da;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}
