@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 38px;
  color: #272727;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 4px;
  background: #1E8CE5;
}

.btn {
  border-width: 0;
  border-radius: 0;
}
.btn.btn-primary {
  background: #1E8CE5;
  color: #FFF;
  padding: 12px 16px;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #EAB100;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #45aed6;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.navbar-toggle{
border-radius: 0;
}

#hero-text {
  padding: 70px 0;
  background-color: #1E8CE5;
  border-bottom:2px solid #EAEAEA;
  color: #fff;
}
#hero-text h2 {
  margin-top: 0;
  color: #FFFFFF;
}
#hero-text .btn {
  margin-top: 40px;
  background-color: #FFFFFF;
  color: #000;
}
#cta2 {
  background: #45b1da;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}
#features {
  padding: 100px 0;
  background: #F1F1F1;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
}
.media.service-box {
  margin: 25px 0 36px;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 54px;
  height: 67px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  color: #1E8CE5;
  background:#fff;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}

.media.service-box:hover .pull-left > i {
  color: #232323;
  background: #FFFFFF;
}

#about {
  padding: 100px 0;
}
.caption-wrapper{
	position:relative;
}
.carousel-content{
	position:absolute;
	right:0px;
	top: 250px;
	background: rgba(35, 35, 35, 0.61);
	padding: 0 20px 20px;
	color: #fff;
	float: left;
	text-align: right;
	width: 550px;
}
.imgs img{
  border: 1px solid #DEDEDE;
  padding: 3px;
  background-color: #fff;
}
/*Team*/
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#business-stats {
  padding: 100px 0 70px;
  background: #132125;
  background-size: cover;
  color: #fff;
}
#business-stats h1,
#business-stats h2,
#business-stats h3,
#business-stats h4 {
  color: #fff;
}
#business-stats strong {
  display: block;
  margin-bottom: 30px;
}
.business-stats {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}

#contact-us {
  padding: 100px 0 50px;
  background: #1E8CE5;
  color: #fff;
}
#contact-us h1,
#contact-us h2 {
  color: #fff;
}
/*Contact*/
 .contact-info{
 padding:60px 0;
 }
.contact-info address {
margin-bottom: 20px;
font-style: normal;
line-height: 27px;
font-size: 15px;
}
.contact-info .form-control {
padding: 6px 12px;
border-radius: 0;
}

/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #232323;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #45aed6;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
 display: inline-block;
background: rgb(47, 47, 47);
padding: 3px 0;
width: 31px;
text-align: center;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
@media only screen and (max-width: 480px) {
#portfolio .portfolio-filter {
list-style: none;
padding: 0;
margin: 0 0 12px;
}
.carousel-content{
	width:80%;
}
#portfolio .portfolio-filter > li a {
display: block;
padding: 7px 15px;
margin: 5px 2px;
}
	#portfolio .portfolio-item {
	width: 48.9%;
	padding: 8px;
	}
	#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
width: 28px;
height: 24px;
line-height: 24px;
margin: 9px auto;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
padding: 7px 0 0;
}
}
.form-control {
    border: 1px solid #FFF;
    border-bottom: 1px solid #D8D8D8;
}
