@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
body {
  background: #ffffff;
  font-family: 'Play', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}
a {
  color:#3498db;
  text-decoration: none;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}



a:active {
  color:#3498db;
}
.btn {
  cursor: pointer;
  padding: 10px 16px;
  display: inline-block;
  margin: 10px 20px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-border {
  border: 2px solid #3498db;
  color: #3498db;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}
.btn-border:hover,
.btn-border:active {
  color: #ffffff;
  background: #3498db;
}

.btn-border {
  border: 2px solid #3498db;
  color: #3498db;
  border-radius: 12px;
}
.btn-border:hover {
  background: #3498db;
}
.btn-common {
  background: #3498db;
}
.btn-common:hover {
  background: #585858;
}

img {
  max-width: 100%;
}
.row {
  padding-bottom: 70px;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  color: #3498db;
  font-size: 50px;
  font-weight: 700;
  padding: 48px 20px;
}
.section-title span {
  color: #333;
}
::selection {
  background: #3498db;
  color: #fff;
}
::-moz-selection {
  background: #3498db;
  color: #fff;
}

.header-top{
	background-color: #333;
	display: none;
	float: left;
	width: 100%;
	padding: 20px 0;
}

#search{
	margin: 0 auto;
	width: 70%;
}

#search input {
  background-color: inherit;
  border: medium none;
  color: #fff;
  float: left;
  height: 100%;
  text-align: center;
  width: 95%;
}

#search button[type="submit"] {
  background: inherit;
  border: medium none;
  color: #fff;
  height: 20px;
  width: 30px;
}

#search-icon {
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  right: 8%;
  text-align: center;
  top: 20px;
  width: 35px;
}

.header-bottom{
	background-color: rgba(0, 0, 0, 0.02);
	border-bottom: 1px solid #e4e4e4;
	color: #949494;
	font-size: 12px;
	height: 40px;
	display: inline;
	float: left;
	width: 100%;
	overflow: hidden;
	padding: 0 15px;
	transition: all 0.3s ease 0s;
}

.header-contact{
	display: inline;
	float: left;
	width: 100%;
}

.header-contact ul{}
.header-contact ul li {
  border-left: 1px solid #e4e4e4;
  display: inline-block;
  float: left;
  margin-right: 10px;
  padding: 10px 12px;
}

.header-contact ul li:last-child{
	border-right: 1px solid #e4e4e4;
}

.phone{
	font-size: 14px;
}

.phone i{
	margin-right: 5px;
}

.mail{
	font-size: 14px;
}
.mail i{
	margin-right: 5px;
}

.header-login{
	display: inline;
	float: left;
	text-align: right;
	width: 100%;
}

.login {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  color: #949494;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.login:hover,
.login:focus{
	color: #fff;
	text-decoration: none;
	outline: none;
}

/*login modal window*/

#login-form {
  background-color: rgba(0, 0, 0, 0.7);
}

#login-form .modal-dialog {
  margin: 130px auto;
  width: 400px;
}

#login-content {
  border-radius: 0;
}

#login-content .modal-title {
  font-size: 20px;
}

#login-content .modal-title i{
  margin-right: 5px;
}

#login-content .form-group input{
  height: 35px;
  border-radius: 0;
}

#login-content .form-control:focus {
  box-shadow: none;
}

.loginbox label {
  float: left;
  width: 100%;
}

.loginbox label input{
  float: left;
  margin-right: 5px;
}

.loginbox label span {
  font-weight: normal;
}

.loginbox .signin-btn {
  border-radius: 0;
  margin-top: 10px;
  color: #fff;
}

.footer-box {
  text-align: left;
  font-size: 15px;
}

.footer-box a:hover,
.footer-box a:focus{
  text-decoration: none;
  outline: none;
}

#signup-content {
  display: none;
}

#signup-content {
  border-radius: 0;
}

#signup-content .modal-title {
  font-size: 20px;
}

#signup-content .modal-title i{
  margin-right: 5px;
}

#signup-content .form-group input{
  height: 35px;
  border-radius: 0;
}

#signup-content .form-control:focus {
  box-shadow: none;
}


#login-content .form-control:focus {
  border-color: #37c6f5;
}

.loginbox .signin-btn {
  background-color: #37c6f5;
}
#signup-content .modal-title {
  color: #37c6f5;
}

#signup-content .form-control:focus {
  border-color: #37c6f5;
}

.signupbox span a:hover{
  color: #37c6f5;
}

.signupbox span {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10px;
}

.signupbox span a:hover{
  text-decoration: none;
  outline: none;
}

#header .main-navigation {
  background: #ffffff;
  border-bottom: 2px solid #3498db;
}
#header .navbar-brand img{
  width: 150px;
  height: 50px;
  padding-bottom: 12px;
}
#header .nav {
  list-style: none;
  margin-top: 12px;
  margin-bottom: 22px;
}
#header .nav li {
  margin: 0 0 0 24px;
}
#header .nav li a {
  text-transform: uppercase;
  padding: 5px 0;
  color: #3498db;
  font-weight: 300;
  position: relative;
}
#header .nav li a:after {
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 2px solid #3498db;
  width: 100%;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
#header .nav li.active a:after,
#header .nav li.active a,
#header .nav li a:hover::after,
#header .nav li a:hover,
#header .nav li a:focus {
  background: none;
  opacity: 1;
  color: #fff;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
#header .affix {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

#header .affix .navbar-brand {
  padding: 12px;
}
#header .affix .navbar-brand img {
  width: 150px;
  height: 50px;
}
#header .affix .nav {
  margin-top: 12px;
}


.dropdown-menu  {
    box-shadow: none;
    border-radius: 0;

}

.dropdown-menu li:last-child  {
	padding-bottom: 15 !important;
	margin-bottom: 15;
}

 .nav li .dropdown-menu  {
   padding:15px;
}

.nav li .dropdown-menu li a {
   line-height: 28px;
   padding-top: 8px;
   padding-left: 8px;
   margin-bottom: 10px;
   margin: 5px;
   padding-right: 8px;
}
.dropdown-menu .dropdown i {
	position:absolute;
	right:0;
	margin-top:20px;
	padding-left:20px;

}


#intro {
  background: url("../assets/bg-intro.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 67px;
}
#intro .overlay {
  background: url("../assets/bg-overlay.png") rgba(0, 0, 0, 0.6) repeat;
}
#intro .main-text {
  margin: 202px 0px;
}
#intro .main-text h1 {
  font-weight: 700;
  font-size: 62px;
  color: #ffffff;
}
#intro .main-text h1 span {
  color: #3498db;
}
#intro .main-text h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 60px;
}
#intro .main-text .btn {
  font-size: 20px;
  padding: 12px 30px;
  margin-top: 30px;
}
#services {
  background: #ffffff;
  padding-bottom: 50px;
}
#services .service-box {
  position: relative;
  border: 1px solid #3498db;
  margin-bottom: 48px;
}
#services .content {
  color: #ffffff;
  text-align: center;
  background: #3498db;
  border: 2px solid #ffffff;
  padding: 10px 12px;
}
#services .content h2 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
#services .content p {
  line-height: 22px;
  font-weight: 300;
}
#services .icon-wrapper {
  background: #ffffff;
  border-radius: 50%;
  height: 54px;
  left: -7px;
  padding: 3px;
  position: absolute;
  top: -30px;
  width: 54px;
}
#services .icon-wrapper i {
  background: #ffffff;
  color: #3498db;
  border: 2px solid #3498db;
  border-radius: 50%;
  font-size: 30px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 48px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#services .service-box:hover i {
  background: #3498db;
  color: #fff;
}


/*--------------------*/
/* FEATURE */
/*--------------------*/

#feature{
	background-color: #fff;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}

.title-area {
  display: inline;
  float: left;
  padding: 0 150px;
  text-align: center;
  width: 100%;
}

.title-area .title {
	font-size: 35px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
}

.title-area .line {
  background-color: #777;
  display: inline-block;
  height: 2px;
  width: 60px;
}

.title-area p {
  color: #777777;
  line-height: 25px;
  margin-top: 20px;
}

.feature-content {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.single-feature{
	display: inline;
	float: left;
	margin-bottom: 40px;
	width: 100%;
}

.single-feature:hover .feature-icon{
	color: #3498db;
}

.single-feature .feature-icon {
  font-size: 35px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.feat-title{
	font-weight: normal;
	font-size: 20px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.single-feature:hover .feat-title{
	color: #3498db;
}

.single-feature p {
  color: #555;
  font-size: 15px;
}








#about {
  background: url('../assets/bg-1.jpg') center center no-repeat;
  background-size: cover;
  color: #ffffff;
}
#about .section-title span {
  color: #fff;
}
#about .side-left {
  text-align: center;
}
#about .side-left img {
  border-radius: 4px;
  padding-bottom: 12px;
}
#about .side-left .info h4 {
  font-size: 22px;
  font-weight: 300;
  line-height: 12px;
}
#about .side-left .info p {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1.1px;
  position: relative;
}
#about .side-left .info p:after {
  background: #ffffff;
  content: "";
  height: 5px;
  left: 32%;
  position: absolute;
  top: 125%;
  width: 34%;
}
#about .side-right p {
  padding: 0px 20px;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}
#about .owl-theme .owl-controls .owl-page span {
  background: none;
  display: none;
}


/*--------------------------------------------------------------------------
+	Blog Style
--------------------------------------------------------------------------*/
.section {
  padding: 30px 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
*--------------------*/
/* BLOG PAGE */
/*--------------------*/


#blog-archive {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}

.blog-archive-area{
  display: inline;
  float: left;
  width: 100%;
}

.blog-archive-left{
  display: inline;
  float: left;
  width: 100%;
}

.blog-archive-left .blog-news-single{
  margin-bottom: 30px;
}

.blog-archive-left .blog-news-img {
  height: 350px;
}

.blog-pagination {
  display: inline;
  float: left;
  margin-top: 20px;
  padding: 15px 0;
  width: 100%;
}

.pagination-nav{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.pagination-nav li {
  display: inline-block;
}

.pagination-nav li a {
  color: #555;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 13px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.pagination-nav li a:hover,
.pagination-nav li a:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.blog-side-bar{
  display: inline;
  float: left;
  width: 100%;
}

.sidebar-widget{
  display: inline;
  float: left;
  margin-bottom: 30px;
  width: 100%;
}

.sidebar-widget>p{
  font-size: 14px;
}

.sidebar-widget ul li{}
.sidebar-widget ul>li>a{
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
}

.search-group{
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}

.search-group .blog-search-btn {
  border: medium none;
  color: #fff;
  font-size: 18px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.search-group input[type="search"] {
  height: 40px;
  outline: medium none;
  padding: 5px 10px 5px 55px;
  width: 100%;
}

.search-group input[type="search"]:focus{
  outline: none;
}

.widget-title {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
  position: relative;
}

.widget-title::after {
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 30px;
}

.widget-catg li a {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 10px;
 -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.widget-catg li a:hover,
.widget-catg li a:focus{
  text-decoration: none;
  outline: none;
}

.widget-catg li::before{
  content: '\f138';
  font-family: fontAwesome;
}

.tag-cloud{
  display: inline;
  float: left;
  width: 100%;
  text-align: left;
}

.tag-cloud a {
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 8px;
  margin-right: 3px;
  padding: 5px 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tag-cloud a:hover,
.tag-cloud a:focus{
  color: #fff;
  text-decoration: none;
  outline: none;
}

.widget-archive li{}
.widget-archive li a{
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.widget-archive li a span{
  margin-left: 5px;
  display: inline-block;
}

.widget-archive li a:hover,
.widget-archive li a:focus{
  text-decoration: none;
}

.blog-single-details blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.blog-single-details blockquote p{
  font-size: 18px;
}

.blog-single-details blockquote span {
  text-transform: uppercase;
  font-size: 16px;
}

.blog-single-details ul,
.blog-single-details ol {
  padding-left: 25px;
  margin-bottom: 20px;
}

.blog-single-details ul li{
  list-style: circle;
  margin-bottom: 5px;
}

.blog-single-details h1,
.blog-single-details h2,
.blog-single-details h3,
.blog-single-details h4,
.blog-single-details h5,
.blog-single-details h6{
  color: #333;
}

.blog-single-details h3{
  margin-top: 0px;
}

.blog-single-bottom {
  display: inline;
  float: left;
  margin-top: 50px;
  padding: 10px 0;
  width: 100%;
}

.blog-single-tag{
  display: inline;
  font-size: 14px;
  float: left;
  width: 100%;
  text-align: left;
}

.blog-single-tag a {
  margin-left: 5px;
  color: #333;
}

.blog-single-tag a:hover,
.blog-single-tag a:focus {
  text-decoration: none;
  outline: none;
}

.blog-single-social{
  display: inline;
  float: left;
  width: 100%;
  text-align: right;
}

.blog-single-social a {
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  min-width: 30px;
  padding: 5px;
  text-align: center;
}

.blog-single-social a:hover,
.blog-single-social a:focus {
  text-decoration: none;
  outline: none;
}

.blog-navigation-area{
  display: inline;
  float: left;
  width: 100%;
}

.blog-navigation-area {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
}

.blog-navigation-prev{
  float: left;
  text-align: left;
}

.blog-navigation-prev a {
  border-left: 2px solid #ccc;
  display: inline-block;
  padding-left: 15px;
}

.blog-navigation-prev a:hover,
.blog-navigation-prev a:focus{
  text-decoration: none;
  outline: none;
}

.blog-navigation-prev a > h5 {
  color: #222;
  font-size: 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.blog-navigation-prev a>span{
  font-size: 14px;
}

.blog-navigation-next{
  float: right;
  text-align: right;
}

.blog-navigation-next a {
  border-right: 2px solid #ccc;
  display: inline-block;
  padding-right: 15px;
}

.blog-navigation-next a:hover,
.blog-navigation-next a:focus{
  text-decoration: none;
  outline: none;
}

.blog-navigation-next a > h5 {
  color: #222;
  font-size: 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.blog-navigation-next a>span{
  font-size: 14px;
}

.comments-box-area {
  display: inline;
  float: left;
  margin-top: 30px;
  padding: 20px 0;
  width: 100%;
}

.comments-box-area h2 {
  color: #333;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
  position: relative;
}

.comments-box-area h2::after {
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 50px;
}

.comments-box-area p {
  font-size: 15px;
}

.comments-form{
  margin-top: 10px;
}

.comments-form input{
  height: 40px;
  font-size: 16px;
  border-radius: 0;
}

.comments-form textarea {
  border-radius: 0;
  font-size: 16px;
  height: 200px;
  padding: 10px;
  width: 70%;
}

.comments-form .form-control:focus {
  box-shadow: none;
}

.comments-form .form-group {
  margin-bottom: 20px;
}

.comment-btn {
  padding: 10px 15px;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #222;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.comment-btn:hover{
  color: #fff;
}

.post-comments {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 40px;
  padding: 0;
}
.post-comments ul {
  list-style-type: none;
  margin-left: 30px;
  padding: 0;
}
.comment-wrapper p {
  margin: 0;
  position: relative;
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.comment-author {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}
.comment-author img {
  max-width: 50px;
  -webkit-border-radius: 25px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 25px;
  -moz-background-clip: padding;
  border-radius: 25px;
  background-clip: padding-box;
  margin-right: 10px;
}
.comment-date {
  font-size: 0.9em;
  margin-right: 20px;
}
.comment-actions {
  text-align: right;
  opacity: 0.6;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.comment-actions:hover {
  text-align: right;
  opacity: 1;
}
.comment-actions i {
  color: #333;
}
.comment-reply-btn {
  margin-left: 10px;
}
.blog-sidebar h4 {
  margin-top: 20px;
  font-weight: 700;
}
.blog-sidebar h4:first-child {
  margin-top: 0;
}
.blog-sidebar ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}
.blog-sidebar .recent-posts li,
.blog-sidebar .blog-categories li {
  padding: 5px 20px 5px 0;
  border-top: 1px solid #D5D5D5;
}
.blog-sidebar .recent-posts li:last-child,
.blog-sidebar .blog-categories li:last-child {
  border-bottom: 1px solid #D5D5D5;
}
.blog-sidebar .recent-posts a,
.blog-sidebar .blog-categories a {
  color: #535b60;
}
.sidebar-widget{
  display: inline;
  float: left;
  margin-bottom: 30px;
  width: 100%;
}

.sidebar-widget>p{
  font-size: 14px;
}

.sidebar-widget ul li{}
.sidebar-widget ul>li>a{
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
}

.dropdown-toggle:hover,
 .dropdown-toggle:focus,
.active ul.dropdown-menu li a:hover,
 .active ul.dropdown-menu li.active a{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#why-chose {
  background: url('../assets/bg-2.jpg') center center no-repeat;
  color: #fff;
  background-size: cover;
  overflow: hidden;
}
#why-chose .section-title span {
  color: #fff;
}
#why-chose .showcase-box img {
  position: relative;
  top: 86px;
}
#why-chose .content-left,
#why-chose .content-right {
  position: relative;
}
#why-chose .icon {
  float: right;
  width: 50px;
  height: 50px;
  border: 2px solid #0BAFA0;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#why-chose .icon i {
  font-size: 28px;
  line-height: 48px;
  color: #0BAFA0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#why-chose .box-left:hover .icon,
#why-chose .box-right:hover .icon {
  background-color: #0BAFA0;
}
#why-chose .box-left:hover .icon i,
#why-chose .box-right:hover .icon i {
  color: #fff;
}
#why-chose .content-left .box-left .content {
  padding-right: 72px;
}
#why-chose .content-left .box-left .content h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}
#why-chose .content-left .box-left .content p {
  text-align: right;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}
#why-chose .content-left .box-left:hover .icon {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#why-chose .content-right .icon {
  float: left;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#why-chose .content-right .box-right .content {
  text-align: left;
  padding-left: 72px;
}
#why-chose .content-right .box-right h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
#why-chose .content-right .box-right p {
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}
#why-chose .content-right .box-right:hover .icon {
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#testimonial {

}
#testimonial .testimonial {
  margin-left: 16px;
  margin-right: 16px;
  border: 2px solid #3498db;
}
#testimonial .testimonial-text {
  padding: 20px;
  padding-bottom: 46px;
}
#testimonial .testimonial-text i {
  font-size: 34px;
  color: #3498db;
}
#testimonial .testimonial-text p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  padding: 0 22px;
}
#testimonial .testimonial-info {
  width: 100%;
  background-color: #0BAFA0;
  border-bottom: 6px solid #008A7D;
  height: 67px;
  position: relative;
}
#testimonial .testimonial-info img {
  position: absolute;
  top: -35px;
  left: 70px;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  border: 4px solid #0BAFA0;
}
#testimonial .testimonial-info p {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  padding: 18px 0;
  text-align: center;
}
#testimonial .owl-theme .owl-controls .owl-page span {
  width: 50px;
  height: 10px;
  background: #0BAFA0;
  margin: 20px 8px;
}
#contact {
  background: #333;
  background-size: cover;
}
#contact .section-title span {
  color: #fff;
}
#contact .contact-form .controls {
  padding-bottom: 20px;
}
#contact .contact-form .controls input.contact_input {
  color: #000;
  background-color: #ffffff;
  float: left;
  border: 1px solid #0BAFA0;
  font-size: 14px;
  font-weight: 300;
  height: 48px;
  padding: 0 12px;
  width: 88%;
}
#contact .contact-form .controls i {
  font-size: 18px;
  color: #0BAFA0;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  padding: 12px;
  text-align: center;
  border: 1px solid #0BAFA0;
  border-left: none;
}
#contact .contact-form textarea {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #0BAFA0;
  width: 100%;
  padding: 2% 3%;
  height: 185px;
  border-radius: 0px;
}
#contact .contact-form textarea:focus {
  box-shadow: none;
}
#contact .contact-form .btn {
  color: #ffffff;
  font-weight: 300;
  margin-top: 30px;
  font-size: 24px;
  width: 100%;
  margin: 20px 0;
}
#clients {
  background-color: #fff;
  width: 100%;
  height: 98px;
  padding: 24px;
}
#connected {
  background-color: #0BAFA0;
  width: 100%;
  color: #ffffff;
  text-align: center;
}
#connected .section-title {
  color: #ffffff;
}
#connected .discription {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  position: relative;
}
#connected hr {
  width: 200px;
  text-align: center;
}
#connected .contact-item {
  margin-top: 48px;
}
#connected .contact-item a {
  padding-bottom: 12px;
}
#connected .contact-item a i {
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 16px;
}
#connected1 .contact-item a i {
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 16px;
}
#connected1 .contact-item h5 {
  color: #FDF2F0;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}
#connected .contact-item h5 {
  color: #FDF2F0;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}
#connected .contact-item h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}
#footer {
  background-color: #0BAFA0;
  width: 100%;
}
#footer .copyright {
  border-top: 1px solid #ffffff;
  padding: 14px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}
#footer .copyright a {
  color: #fff;
  text-decoration: none;
}
#footer .copyright a:hover {
  color: #34495E;
}
.scroll-top {
  right: 30px;
  bottom: 30px;
  background: #000;
  border-radius: 4px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  z-index: 9999;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.scroll-top i {
  padding: 0px 10px;
  font-size: 36px;
  color: #fff;
}
.scroll-top i:hover {
  color: #0bafa0;
}
#settings-panel {
  position: fixed;
  top: 172px;
  right: -158px;
  border-right: none;
  background: #fff;
  padding: 10px;
  text-align: center;
  z-index: 99;
}
#panel-opener {
  position: absolute;
  font-size: 1.4em;
  line-height: 1.6em;
  top: 10px;
  left: -40px;
  background: #fff;
  width: 40px;
  height: 40px;
  color: #0BAFA0;
  line-height: 40px;
  cursor: pointer;
}
#panel-opener:hover {
  color: #1a88c4;
}
.color-container {
  width: 138px;
  margin-bottom: -8px;
  float: left;
}
.color-container .color {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 4px 0 0;
}
.color-container .color-1 {
  background: #0BAFA0;
}
.color-container .color-2 {
  background: #3498db;
}
.color-container .color-3 {
  background: #e74c3c;
}
.color-container .color-4 {
  background: #34495e;
}
/* vide =========================
===============================
*/

.video-container,.map-container,.embed-container 		{ position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:none; }
.embed-container iframe,
.embed-container object,
.embed-container embed,
.video-container iframe,
.map-container iframe,
.map-container object,
.map-container embed,
.video-container object,
.video-container embed 					{ position:absolute; top:0; left:0; width:100%; height:100%; }
iframe {
	border:none;
}
a {
  color: #3498db;
}
a:hover {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

.section-title{
	color: #3498db;
}
/* Nav  */
#header .main-navigation{
	border-bottom: 2px solid #3498db;
}
#header .nav li a{
	color: #3498db;
}
#header .nav li.active a::after, #header .nav li.active a, #header .nav li a:hover::after, #header .nav li a:hover, #header .nav li a:focus{
	color: #3498db;
}
#header .nav li a:after{
	border-bottom: 2px solid #3498db;
}
/* Intro color */
#intro .main-text h1 span{
  color: #3498db;
}
/* Services color */
#services .service-box{
	border: 1px solid #3498db;
}
#services .content{
	background: #3498db;
}
#services .icon-wrapper i{
	color: #3498db;
	border: 2px solid #3498db;
}
#services .service-box:hover i {
  background: #3498db;
}

/* Why color */
#why-chose .icon{
	border: 2px solid #3498db;
}
#why-chose .icon i{
	color: #3498db;
}
#why-chose .box-left:hover .icon,
#why-chose .box-right:hover .icon {
  background: #3498db;
}
/* Pricing table color */
#pricing .pricing-header{
	background: #3498db;
}
#pricing .price-value{
	background: #3498db;
}
#pricing .pricing-list{
	color: #3498db;
}
/* Blog color */
#blog .blog-wrapper .content{
	background: #3498db;
	border-top: 6px solid #5EB4EF;
}
#blog .blog-wrapper .blog-footer{
	background: #137BC0;
}
#blog .carousel-control i{
	background: #137BC0;
}
/* Team color */
#team .content .title{
	background: #3498db;
}
#team .social-icons ul li a i{
	color: #3498db;
}
/* Testimonials color */
#testimonial .testimonial{
	border: 2px solid #3498db;
}
#testimonial .testimonial-text i{
	color: #3498db;
}
#testimonial .testimonial-info{
	background: #3498db;
	border-bottom: 6px solid #137BC0;
}
#testimonial .testimonial-info img{
	border: 4px solid #3498db;
}
#testimonial .owl-theme .owl-controls .owl-page span{
	background: #3498db;
}
/* Contact color */
#contact .contact-form .controls input.contact_input{
	border: 1px solid #3498db;
}
#contact .contact-form .controls i{
	color: #3498db;
	border-color: #3498db;
}
#contact .contact-form textarea{
	border: 1px solid #3498db;
}
#connected{
	background: #3498db;
}
#footer{
	background: #3498db;
}
.scroll-top i:hover{
	color: #3498db;
}
#panel-opener{
	color: #3498db;
}
/*Selection color*/
::selection {
  background: #3498db; /* Safari/Chrome */
  }
::-moz-selection {
  background: #3498db; /* Firefox */
}
