<div id="preloader">
  <div id="status"></div>
</div>

<!-- FullScreen -->
  <div class="intro-header">
  <div class="col-xs-12 text-center abcen1">
    <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">ZonogoSoft</h1>
    <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Bridgint The Digital Divide</h3>
    <ul class="list-inline intro-social-buttons">
      <li><a href="https://twitter.com/ZongoSoft" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Twitter</span></a>
      </li>
      <li id="download" ><a href="https://facebook.com/zongosoft" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="fa-facebook">Facebook</span></a>
      </li>
    </ul>
  </div>
      <!-- /.container -->
  <div class="col-xs-12 text-center abcen wow fadeIn">
    <div class="button_down ">
      <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <%= image_tag "circle.png", :class "img-scroll" %> </a>
    </div>
  </div>
  </div>
